.footer {
  background-color: $col-bg-default;
  padding: 60px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    gap: 60px;
  }

  &__address {
    margin-top: 20px;
  }

  &__contact-item {
    font-style: normal;
    margin-bottom: 8px;
    font-size: 14px;
    letter-spacing: 0.03em;

    &--location {
      color: $col-text-white;
      text-decoration: none;
    }

    &--mail {
      color: $col-text-white-alfa60;
      text-decoration: underline;
    }

    &--tel {
      color: $col-text-white-alfa60;
      text-decoration: none;
      margin-bottom: 0;
    }
  }

  &__section {
    color: $col-text-white;
  }

  &__section-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
  }
  &__social-links {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  &__social-link {
    font-size: 0;
    padding: 12px;
    border-radius: 50%;
    color: inherit;
    cursor: pointer;
    background-color: $col-white-alfa10;
    transition: background-color $transition-duration-timingf-default;

    &:hover,
    &:focus,
    &:active {
      background-color: $col-brand;
    }
  }

  &__newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  &__newsletter-input {
    width: 100%;
    height: 50px;
    position: relative;
    background-color: $col-transparent;
    border: 1px solid $col-white-alfa30;
    filter: drop-shadow(0px 4px 4px $col-black-alfa15);
    color: $col-text-white;
    border-radius: 4px;
    padding-left: 16px;
    outline: none;

    &::placeholder {
      position: absolute;
      top: 15px;
      left: 16px;
      color: $col-text-white-alfa60;
    }
  }
}
