.header {
  border-bottom: 1px solid $col-section-line;
  padding: 15px 0;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__links {
    display: flex;
    gap: 46px;
  }

  &__link {
    color: $col-text-default;
    font-weight: 500;
    text-decoration: none;

    &--current {
      color: $col-brand;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        border-bottom: 4px solid $col-brand;
        border-radius: 2px;
        top: 39px;
      }
    }

    &:hover,
    &:focus {
      @include hover-focus($col-brand);
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    &__contacts {
      display: none;
    }
  }

  .nav-bar {
    &__menu {
      display: none;
    }
  }
}

// TABLET STYLES
@media screen and (min-width: 768px) {
  .js-open-menu {
    display: none;
  }

  .header {
    padding: 20px 0;

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__contacts {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__contact {
      font-size: 12px;
      display: flex;
      align-items: center;
      color: $col-text-gray;
      font-weight: 500;
      text-decoration: none;
      gap: 10px;

      &:hover,
      &:focus {
        @include hover-focus($col-brand);
      }
    }
  }

  .nav-bar {
    display: flex;
    align-items: center;
    gap: 83px;

    &__links {
      gap: 60px;
    }

    &__link {
      font-size: 14px;

      &--current {
        &:after {
          top: 44px;
        }
      }

      &:hover,
      &:focus {
        @include hover-focus($col-brand);
      }
    }
  }
}

// DESKTOP STYLES

@media screen and (min-width: 1200px) {
  .header {
    padding: 25px 0;

    &__wrapper {
      justify-content: space-between;
    }

    &__contacts {
      flex-direction: row;
      gap: 50px;
    }
    &__contact {
      font-size: 16px;
    }
  }

  .nav-bar {
    gap: 93px;

    &__links {
      gap: 46px;
    }

    &__link {
      font-size: 16px;

      &--current {
        &:after {
          top: 2.9375rem;
        }
      }
    }
  }
}
