.hero {
  background-image: linear-gradient($col-bg-default-alfa40, $col-bg-default-alfa40),
    url('../images/hero-background-480.jpg');
  background-color: $col-bg-default;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
  &__header {
    max-width: 365px;
    color: $col-text-white;
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 0.06em;
    line-height: 1.62em;
    text-transform: uppercase;
    text-align: center;
  }
}

// TABLET STYLES

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient($col-bg-default-alfa40, $col-bg-default-alfa40),
      url('../images/hero-background-768.jpg');
  }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient($col-bg-default-alfa40, $col-bg-default-alfa40),
      url('../images/hero-background-1536.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

// DESKTOP STYLES

@media screen and (min-width: 1200px) {
  .section.hero {
    padding: 200px 0;
  }
  .hero {
    background-image: linear-gradient($col-bg-default-alfa40, $col-bg-default-alfa40),
      url('../images/hero-background-1600.jpg');

    &__header {
      color: $col-text-white;
      font-size: 44px;
      line-height: 1.36em;
      max-width: 696px;
      width: auto;
    }
  }
}

@media (min-width: 1200px) and (min-device-pixel-ratio: 2),
  (min-width: 1200px) and (min-resolution: 192dpi),
  (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient($col-bg-default-alfa40, $col-bg-default-alfa40),
      url('../images/hero-background-3200.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
