.hero {
  background: linear-gradient($col-bg-default-alfa40, $col-bg-default-alfa40),
    url('../images/hero-background-480.jpg') no-repeat center;
  background-color: $col-bg-default;

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
  &__header {
    color: $col-text-white;
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 0.06em;
    line-height: 1.62em;
    max-width: 365px;
    text-transform: uppercase;
    text-align: center;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .card {
    background: linear-gradient($col-bg-default-alfa40, $col-bg-default-alfa40),
      url('../images/hero-background-960.jpg') no-repeat center;
  }
}
