.team {
  background-color: $col-bg-alt-lightgray;

  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__member {
    flex-basis: calc((100% - 90px) / 2);
  }
  &__card {
    background-color: $col-bg-alt-white;
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 32px;
    box-shadow: 0px 1px 3px $col-black-alfa12, 0px 1px 1px $col-black-alfa14,
      0px 2px 1px $col-black-alfa20;
    border-radius: 0px 0px 4px 4px;
  }
  &__person {
    color: $col-text-darkgray;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
    letter-spacing: 0.03em;
  }
  &__role {
    color: $col-text-gray;
    padding-bottom: 16px;
  }
  &__social-links {
    display: flex;
    gap: 10px;
  }
  &__social-link {
    font-size: 0;
    padding: 12px;
    border-radius: 50%;
    color: $col-icon-fill;
    cursor: pointer;
    transition: color $transition-duration-timingf-default,
      background-color $transition-duration-timingf-default;

    &:hover,
    &:focus,
    &:active {
      background-color: $col-brand;
      color: $col-bg-alt-white;
    }
  }
}

// DESKTOP STYLES

@media (min-width: 1200px) {
  .team {
    background-color: $col-bg-alt-lightgray;

    &__list {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }
}
