* {
  margin: 0;
  padding: 0;
}

body {
  color: $col-text-default;
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

.icon {
  fill: currentColor;
}

.list {
  list-style: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-decoration: none;

  &--light-bg {
    color: $col-text-default;
  }
  &--dark-bg {
    color: $col-text-white;
  }
  &--accent {
    color: $col-brand;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &.hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
  }
}

@mixin hover-focus($color) {
  transition: color $transition-duration-timingf-default;

  color: $color;
}

// TABLET STYLES

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .icon {
    &--envelope {
      width: 14px;
      height: 10px;
    }
    &--smartphone {
      height: 14px;
    }
  }
}

// DESKTOP STYLES

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .logo {
    font-size: 26px;
  }
}
