* {
  margin: 0;
  padding: 0;
}

body {
  color: $col-text-default;
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

.icon {
  fill: currentColor;
}

.list {
  list-style: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-decoration: none;

  &--light-bg {
    color: $col-text-default;
  }
  &--dark-bg {
    color: $col-text-white;
  }
  &--accent {
    color: $col-brand;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
  }
}

@mixin hover-focus($color) {
  transition: color $transition-duration-timingf-default;

  color: $color;
}
