$col-text-default: #000;
$col-text-black-alfa60: #00000040;
$col-text-white: #fff;
$col-text-white-alfa60: #ffffff99;
$col-text-gray: #757575;
$col-text-gray-alfa20: #75757580;
$col-text-darkgray: #212121;

$col-bg-default: #2f303a;
$col-bg-default-alfa88: #2f303ae1;
$col-bg-default-alfa40: #2f303a66;
$col-bg-alt-lightgray: #f5f4fa;
$col-bg-alt-white: #fff;

$col-brand: #2196f3;
$col-brand-alfa90: #2196f3e6;

$col-border-darkgray-alfa20: #21212133;
$col-border-verylightgray: #eee;

$col-section-line: #ececec;
$col-icon-fill: #afb1b8;

$col-black-alfa20: #00000033;
$col-black-alfa16: #00000029;
$col-black-alfa15: #00000026;
$col-black-alfa14: #00000024;
$col-black-alfa12: #0000001e;
$col-black-alfa10: #0000001a;
$col-black-alfa08: #00000014;
$col-black-alfa06: #0000000f;

$col-white-alfa30: #ffffff4d;
$col-white-alfa10: #ffffff1a;

$col-transparent: #00000000;
